.registration-login-button {
    background-color: #e50914;
    border-radius: 5px;
    border-style: none;
    color: white;
    cursor: pointer;
    font-size: 15px;
    font-weight: 700;
    height: 45px;
    width: 285px;
    margin-left: 4vh;
}

.registration-login-title {
    color: white;
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 30px;
}

.registration-login-subtitle{ 
    color: white;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 30px;
}

.registration-outline-form {
    display: flex;
    flex-direction: column;
    padding: 12px;
    border: 1px solid white; 
    margin:20px;
}
.registrationDropdown{
    width:100%
}
.registration-pass {
    background: image-url("lock.png") no-repeat scroll 0px 9px;
    padding-left: 35px; 
 }

.registration-user{
    background: image-url("user.png") no-repeat scroll 0px 9px;
    padding-left: 35px;
}
.registration-email {
    background: image-url("email.png") no-repeat scroll 0px 9px;
    padding-left: 35px;
}

.registration-cardnumber {
    background: image-url("cardnumber.png") no-repeat scroll 0px 11px;
    padding-left: 35px;
}

.registration-cardowner {
    background: image-url("cardowner.png") no-repeat scroll 0px 11px;
    padding-left: 35px;
}
.registration-expirydate {
    background: image-url("expirydate.png") no-repeat scroll 0px 11px;
    padding-left: 35px;
}