.browse-main {
    width: 100%;
    background-color: black;
}

.browse-hero-container {
    height: 94vh;
    width: 100vw;
}

.browse-rows-container {
    width: 100%;
    margin-top: -85px;
    position: relative;

    display: flex;
    flex-direction: column;
    z-index: 100;
}